<?php
// {{ ansible_managed }}. role: {{ role_name }}. template: instance.config.php.j2
$CONFIG = array (
  'datadirectory' => '{{ nextcloud_datadirectory }}',
  'trusted_domains' =>
  array (
{% for item in nextcloud_fqdn %}
    {{ loop.index0 }} => '{{ item }}',
{% endfor %}
  ),
{% if nextcloud_trusted_proxies is defined %}
  'trusted_proxies' =>
  array (
{% for item in nextcloud_trusted_proxies %}
    '{{ item }}',
{% endfor %}
  ),
{% endif %}
{% if nextcloud_overwrite_cli_url is defined and nextcloud_overwrite_cli_url is true %}
  'overwrite.cli.url' => '{% if nextcloud_overwrite_protocol is defined %}{{ nextcloud_overwrite_protocol }}{% else %}https{% endif %}://{{ nextcloud_fqdn[0] }}',
{% endif %}
{% if nextcloud_overwrite_host is defined and nextcloud_overwrite_host is true %}
  'overwritehost' => '{{ nextcloud_fqdn[0] }}',
{% endif %}
{% if nextcloud_overwrite_protocol is defined and nextcloud_overwrite_protocol | length %}
  'overwriteprotocol' => '{{ nextcloud_overwrite_protocol }}',
{% endif %}
{% if nextcloud_configuration is defined %}
{% for item in nextcloud_configuration %}
  '{{ item.name }}' => '{{ item.value }}',
{% endfor %}
{% endif %}
);
